:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
body {
  max-width: 800px;
}

h1 {
  color: firebrick;
  size: 48px;
  font-family: "Arima", cursive;
}

h2 {
  size: 90px;

  font-family: "Splash", cursive;
}

h3 {
  size: 24px;
}
h1,
h2,
h3 {
  text-align: center;
}

p {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1, 5;
  text-align: center;
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
  display: flex;
}

.navigation-links {
  display: flex;
}
.about-paragraph p {
  margin: 10px;
  background-color: var(--secondary-color);
  text-decoration-style: none;
}
.contact-me {
  color: #fff;
  background-color: #6c63ff;
  margin: 20px;
  padding: 20px 15px;
  text-align: center;
  text-decoration-style: none;
}

.info-about-me {
  display: flex;
  justify-content: space-evenly;
}
.about-me {
  color: #6c63ff;
  background-color: #fff;
  margin: 20px;
  padding: 20px 15px;
}
